<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articulos Encontrados</title>
</head>
<body>
    

    {% if cursos %}

    <ul>
        {% for articu in cursos %}
            <li>{{articu.Codigo }} </li>
            <li>{{articu.Descripcion }} </li>
            <li>{{articu.UnidadMedida }} </li>
            <li>{{articu.Precio }} </li>
        {% endfor %}
    </ul>
    
    {% endif %}
</body>
</html>